.images {
    position: relative;
    width: 100%; /* Обеспечиваем ширину контейнера на всю ширину родителя */
    height: 100vh; /* Задаем высоту на весь экран, можно также использовать процентные значения */
    @media screen and (max-width:1820px){
        overflow:auto;
    }
  }
